.btn-buy {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    border: 1px solid #d4af37;
    color: #d4af37;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: 0.3s;
    text-align: center;
}

.btn-buy:hover {
    background: #d4af37;
    color: black;
}
