.btn-lang {
    background: transparent;
    border: 1px solid #444;
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.75rem;
    margin-right: 15px;
    transition: 0.3s ease;
}

.btn-lang:hover {
    background: #fff;
    color: #000;
}
